<a href="https://colab.research.google.com/github/waseem007230/assignment01/blob/master/assignment_of_5_oct_60_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1Q
p,s=9,8
p=p*s
print(p)
p=p-s
print(p)
p=int(p/s)
print(p)
p=p>>s
print(p)
p=p<<s
print(p)

In [ ]:
# 2Q Example of multiline comment
'''This is 
   Mohammed Waseem Akram'''

In [ ]:
# 3Q
s,t=3,4
s=s%t
print(s)

3

In [ ]:
# 4Q
A,B=8,10
print(A & B)#8
print(A | B)#10

8
10

In [ ]:
# 5Q
A='waseem akram'
len(A)

12

In [ ]:
# 6Q identify invalid variable
# Never use any of the Symbols other than  “_”
#  Never use White spaces
#  Never start first character with a number
#  Never use Keywords/Reserved words
#  Few Examples of invalid identifiers:
# 33, Waseem akram, $akki

In [ ]:
# 7Q Give Example of Title case and camel case
# Title case
Hello World
# Camel case
hello World

In [ ]:
# 8Q
a,b,c=1,2,3
print(b*(c+a))

8

In [ ]:
# 9Q
A='how are you'
for i in range(4,7,1):
 print(A[i],end='')

are

In [ ]:
# 10Q
import cmath
x,y=5,5
z=complex(x,y)
z

(5+5j)

In [ ]:
# 11Q
# bool({})#False
bool(False)#False

False

In [ ]:
# 12Q
a=(1,[2,3])
b=[1,2,'f']
c='hey1'
d=123
e={(1,2):['e']}
type(a) # tuple
type(b) # list
type(c) # string
type(d) # numeric
type(e) # dictionary

dict

In [ ]:
# 13Q
print(10==9)#False

False

In [ ]:
# 14Q
quantity=3
itemno=567
price=49.95
myorder='I want to pay {2} dolloars for {0} pieces of item {1}'
print(myorder.format(quantity,itemno,price))

I want to pay 49.95 dolloars for 3 pieces of item 567

In [ ]:
# 15Q convert the words 'miss' and 'python' to 'mam' and C  respt without declaring the string
B='hey miss! Welcome to python'
print(B.replace('miss','mam').replace('python','c'))

hey mam! Welcome to c

In [ ]:
# Q16 Convert the strin to title case and lower case
C='HYderabaD'
print(C.title())

Hyderabad

In [1]:
# 17Q print How many numbers of A/a are there without counting manually
D= 'All apples are red in colour and roundin shape'
B=D.count('A')
C=D.count('a')
print(f'Numbers of A = {B} and Numbers of a = {C}')

Numbers of A 1 and Numbers of a 4

In [ ]:
# 18Q 
x={1,2,3,4,5}
y={4,5,6,7,8}
print(x + y)# error unsupported oprand

In [ ]:
# 19Q 
x={1,2,3,4,5}
y={4,5,6,7,8,9}
print(x | y)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 20Q
print(0|True)#1
print(0==True)# False
print('19'==19)# False

1
False
False

In [ ]:
# 21Q WAP to Add first n numbers
n=int(input('Enter a number to add natural number: '))
b=0
for i in range(1,n+1):
  b=b+i
print(b)

Enter a number to add from 1: 10
55

In [ ]:
# 22Q WAP to loop over the items in fruits list?
fruits=['apple', 'orange', 'kiwi']
for i in fruits:
  print(i)

apple
orange
kiwi

In [ ]:
# 23Q WAP to print 6 tables using for and while loop
a=int(input('Enter starting table: '))
b=int(input('Enter ending table: '))
i,j=a,1
while (i<b+1):
  j=1
  while (j<11):
    print(i ,'x', j, '=', i*j)
    j+=1
  i=i+1

In [ ]:
a=int(input('Enter starting table: '))
b=int(input('Enter ending table: '))
for i in range(a,b+1):
  for j in range(1,11):
    print(i ,'x', j, '=', i*j)

In [ ]:
# 24Q WAP to get the value of 6power4
print(6**4)

1296

In [ ]:
# 25Q O/P of the below code
for x in [1,2,3]:
  print(x-1)

0
1
2

In [ ]:
# 26Q O/P of 
tuple=('abcd',786,2.23,'jhon',70.2)
print(tuple[0])

abcd

In [ ]:
# 27Q What is o/p of L[-2] if L=[1,2,3]
L=[1,2,3]
print(L[-2])

2

In [ ]:
# 28Q o/p of given code
colors=['white','black','grey']
x='red' not in colors
print(x)

True

In [ ]:
# 29Q Which is mutable and immutable in list and tuple
# ANS: list is mutable because we can add,remove and modify the elements of list
# tuple is immutable because we cannot add,remove and modify the elements of list

In [ ]:
# 30Q What is the output of tiny*3 if tiny =[123,'jhon']
tiny =[123,'jhon']
print(tiny*3)

[123, 'jhon', 123, 'jhon', 123, 'jhon']

In [ ]:
# 31Q Which is the function to check in string that all characters are alphanumeric
A='123abc'
A.isalnum()

True

In [ ]:
# 32Q What is a command line to get the output as heshewe
a=['he','she','we']
b=a[0]+a[1]+a[2]
b

'heshewe'

In [ ]:
# 33Q What is the position of number 3
L=[1,2,1,[2,3],5]
list(enumerate(L))
L[3][1]

3

In [ ]:
L=['a','b','a',['b','c'],'e']
count=0
for i in L:
  print(i)
  if (count==0):
    print('count is 1')
    count=count+1

a
count is 1
b
a
['b', 'c']
e

In [ ]:
L=['a','b','a',['b','c'],'e']
for i, element in enumerate(L):
  print(i,element)

0 a
1 b
2 a
3 ['b', 'c']
4 e

In [ ]:
# 34Q Calculate the number of 9 from list
L=[9,90,99,999,9999]  
A=str(L)
A.count("9")

11

In [ ]:
# 35Q What is the result of the code
num =[10,9,8,7,6,5]
num[0]=num[1]-5
if 4 in num: print(num[3])
else: print(num[4])

In [ ]:
# 36Q What is the result of this code
num=[9,8,7,6,5]
num.append(4)
num.insert(2,11)
print(len(num))
num

7

[9, 8, 11, 7, 6, 5, 4]

In [ ]:
# 37Q What is the result of the code
list=[1,1,2,3,5,8,13]
print(list[list[4]])

8

In [ ]:
# 38Q which one is False
# int(144)==144  True
# int('144')==144 True
# int(144.0)==144 True

True

In [ ]:
# 39Q O/p of
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# 40Q What is a command to sort a list
a=[8,6,3,7,4]
a.sort()
print(a)

[3, 4, 6, 7, 8]

In [ ]:
# 41Q Which one of the following statements is used when a statement is required syntactically but you do not want any command or code to execute
# Ans: pass

In [ ]:
# 42Q O/P of code
tup=('hi','python',2)
print(type(tup)) #<class 'tuple'>
print(tup) # ('hi', 'python', 2)
print(tup[1:])#('python', 2)
print(tup[0:1])#('hi',)
print(tup+tup)#('hi', 'python', 2, 'hi', 'python', 2)
print(tup*3)#('hi', 'python', 2, 'hi', 'python', 2, 'hi', 'python', 2)
tup[2]='hi'

In [ ]:
#43Q O/P
for x in range(21,5,-3):
  print(x)

In [ ]:
# 44Q O/P
for i in range(0,5):
  print(i)

In [ ]:
# 45Q WAP to check number is even or not
a=int(input('Enter a number: '))
if ((a%2)==0):
  print('it is even')
else :
  print('it is not even but odd')

In [ ]:
# 46Q O/P using loops 
# *
# **
# ***
# ****
# *****
for i in range(1,6):
  print('*'*i)

*
**
***
****
*****

In [ ]:
i=1
while i in range(1,6):
  print('*'*i)
  i=i+1

In [ ]:
# 47Q WAP to get python version which we are using
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
#48Q WAP to find prime number in a given interval
a=int(input('Enter upper number: '))
b=int(input('Enter lower number: '))
for i in range(a,b+1):
  if i>1:
     for j in range(2,i):
       if((i%j)==0):
         break
     else:
       print(i)

In [ ]:
# 49Q WAP for cube root number
a=int(input('Enter a number to find cuberoot :'))
print(a**(1/3))

In [ ]:
# 50Q Write a Python program that will accept the base and height of a triangle and compute the area?
base=float(input('Enter base of the triangle in cm: '))
height=float(input('Enter height of the triangle in cm: '))
Area=(1/2)*base*height
print(f'The Area of triangle is: {Area} cm**2')

In [ ]:

# 51. Write a Python program to solve (x + y) * (x + y)?
x=int(input('Enter X value: '))
y=int(input('Enter Y value: '))
z=(x+y)*(x+y)
print(f'The value of (x+y)**2 is: {z}')

In [ ]:
# 52. Write a Python program to calculate the sum of three given numbers, if the values are equal then
# return thrice of their sum?
X=int(input('Enter X value: '))
Y=int(input('Enter Y value: '))
Z=int(input('Enter Z value: '))
sum=(X+Y+Z)*3
if ((X==Y) and (Y==Z)):
  print('All three numbers are equal')
  print(f'The thrice of there sum is: {sum}')
elif((X!=Y) or (Y!=Z)):
  SUM=(X+Y+Z)
  print(f'The sum of three numbers is: {SUM}')

In [ ]:
# 53. Write a Python program to compute the distance between the points (x1, y1) and (x2, y2)?
x1=int(input('Enter a point x1: '))
y1=int(input('Enter a point y1: '))
x2=int(input('Enter a point x2: '))
y2=int(input('Enter a point y2: '))
a=((x2-x1)**2)
b=((y2-y1)**2)
d=(a+b)**(1/2)
print(f'Distance between two point is: {d}')

In [ ]:
# 54. Write a Python program to calculate body mass index?
a=input('Enter your Name: ')
m=float(input('Enter your weight in kg: '))
h=float(input('Enter your height in meters: '))
b=m/(h**2)
if(b<25):
  print(f'{a} is underweight by {b} BMI')
else:
  print(f'{a} is overweight by {b} BMI')

In [ ]:
# 55. Write a Python program to filter the positive numbers from a list?
b=[-1,-6, 5, 4, 6]
print(b)
for i in range(0,len(b)): 
  if (b[i]>=0):
   print(b[i],end='  ')

In [ ]:
# 56. Write a Python program to test if a variable is a list or tuple or a set?
A=[1,5,8,9,3]
B=(5,6,9,4)
C={7,8,9,3,2}
print(type(A))
print(type(B))
print(type(C))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [ ]:
# 57. Write a Python program to check if a number is positive, negative or zero?
z=int(input('Enter an integer: '))
if(z==0):
  print('It is Zero')
elif(z<0):
  print('It is negative number')
else:
  print('It is positive number')

In [ ]:
# 58. Write a Python program to test whether a passed letter is a vowel or not?
v=['a','e','i','o','u','A','E','I','O','U']
l=input('Enter a letter: ')
for i in v:
  if (i==l):
     print('it is vowel')
     break
else: 
  print('it is not a vowel')

In [ ]:
# 59. Write a program to display the multiplication table of a given number?
M=int(input('Enter a table number: '))
for i in range (1,11):
  print(M, 'X', i ,'=', M*i)

In [ ]:
# 60. Write a program to add two matrices using loops?
r=int(input('Enter number of rows: '))
c=int(input('Enter number of columns: '))
print('Enter the matrix1 elements: ')
matrix1=[[int(input()) for i in range(c)] for j in range (r)]
print('matrix1: ')
for i in range(r):
  for j in range(c):
    print(format(matrix1[i][j],"<3"),end="")
  print()
print('Enter the matrix2 elements: ')
matrix2=[[int(input()) for i in range(c)] for j in range (r)]
print('matrix2: ')
for i in range(r):
  for j in range(c):
    print(format(matrix2[i][j],"<3"),end="")
  print()
Result = [[0 for i in range(c)] for j in range (r)]
for i in range(r):
  for j in range(c):
   Result[i][j] = matrix1[i][j]+matrix2[i][j]
print('Result is: ')
for i in range(r):
  for j in range(c):
    print(format(Result[i][j],'<3'),end='')
  print()

Enter number of rows: 2
Enter number of columns: 2
Enter the matrix1 elements:
1
2
3
4
matrix1:
1  2
3  4
Enter the matrix2 elements:
5
6
7
8
matrix2:
5  6
7  8
Result is:
6  8
10 12